<div class="file-upload">
    <input type="file" class="file-upload__input" #csvInput (change)='processFile()' accept=".csv">
    <button class="primary upload" (click)="getFile()">Upload csv</button>
</div>

<app-data-table [tableData]="users"
                createBtnName="Create User"
                [footerSearch]="false"
                [paginate]="false"
                [actionButtons]="actionButtons"
                [tableHeaders]="tableHeaders"
                (create)="updateUser()"
                (edit)="updateUser($event)"
                (delete)="deleteUser($event)">
</app-data-table>
